.playlist-detail {
  width: 100%;
  .playlist-info {
    background-color: rgba($color: black, $alpha: 0.6);
    padding: 80px 20px 0;
    .playlist-top-wrapper {
      display: flex;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 40px;
      .left-wrapper {
        width: 240px;
        height: 240px;
        margin-right: 40px;
        border-radius: 8px;
        background-color: lightblue;
        .left-img {
          width: 100%;
          height: 100%;
        }
      }
      .right-wrapper {
        color: #ffffff;
        .right-name {
          font-size: 32px;
          line-height: 42px;
          margin-bottom: 20px;
          font-weight: 700;
        }
        .right-bl {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 20px;
        }
        .right-desc {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
    .bottom-wrapper {
      padding: 20px;
      display: flex;
      justify-content: space-around; 
      .bottom-item {
        font-size: 24px;
        color: #ffffff;
        align-items: center;
      }
    }
  }

  .playlist-wrapper {
    padding: 20px 40px;
    box-sizing: border-box;
    .playlist-item {
      display: flex;
      align-items: center;
      height: 80px;
      margin-bottom: 40px;
      .item-index {
        font-size: 24px;
        text-align: left;
        margin-right: 10px;
        height: 80px;
        width: 80px;
        box-sizing: border-box;
        line-height: 80px;
      }
      .item-music {
        flex: 1;
        margin-right: 10px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .item-music-name {
          color: #333333;
        }
        .item-music-album {
          color: #666666;
        }
      }
      .item-more {
        font-size: 28px;
        color: #666666;
      }
    }
  }
}
